@import 'normalize';
@import "compass/layout/stretching";
@import "compass/css3/transform";
@import "compass/css3/transition";

html{
  font-size: 75%;
}

body{
  color: #222222;
  font-family: 'Alegreya Sans SC', sans-serif;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #222222;
}

div,a,li,ul,span,figure,figcaption{
  box-sizing: border-box;
}

input{
  border: none;
  outline: none;
}

.clearfix{
  zoom: 1;
}

.clearfix:after,.clearfix:before {
  content: '';
  display: table;
  clear: both;
}

.nav-top{
  background: #f3f3f3;
  color: #777777;
  line-height: 3rem;

  @at-root {
    .hotline{
      float: left;
      font-size: 1.2rem;

      @media (max-width: 768px){
        display: none;
      }
    }

    .account-lang{
      float: right;
      font-size: 1.2rem;
      padding: 0 1rem;

      .account{
        a{
          color: #777777;

          &:hover{
            text-decoration: underline;
            color: #222222;
          }
        }

        float: left;
        margin-right: 3rem;
      }

      .lang {
        @extend .account;

        select{
          background: none;
          border: none;
          outline: 0;
        }
      }
    }
  }
}

.nav-middle{
  padding: 3rem 0;
  .row{
    padding: 0 2rem;
  }

  @at-root {

    .search{
      padding-top: 1rem;

      input[type="text"] {
        width: 60%;
        @media(max-width: 992px){
          width: 75%;
        }
        @media(max-width: 768px){
          width: 93%;
          margin-bottom: 2rem;
        }
        background: none;
        padding: 0.8rem;
        border: 1px solid #dddddd;
      }

      input[type="submit"] {
        position: absolute;
        top: 1rem;
        right: 38%;
        @media (max-width: 992px){
          right: 24%;
        }
        @media(max-width: 768px){
          right: 8%;
        }
        padding: 0.9rem;
        background: url(../images/icons/search.png) center no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
    }

    .logo{
      text-align: center;
      img{
        max-width: 100%;
      }
    }

    .cart{
      ul {
        padding: 0;
        width: 55%;
        @media(max-width: 992px){
          width: 75%;
        }
        @media(max-width: 768px){
          width: 100%;
          margin-top: 2rem;
        }
        float: right;
        border: 1px solid #dddddd;
        font-size: 1.2rem;
      }
      li{
        padding: 0.6rem 1rem;

        + li{
          border-top: 1px solid #dddddd;
          padding: 0.2rem 1rem;
        }
      }
      a{
        color: #a5a5a5;
        &:hover{
          color: #222222;
        }
      }
    }


    .cart-left,.bag-left{
      float: left;
    }

    .bag-right,.cart-right{
      float: right;
    }

    .cart-right {
      border: 5px solid transparent;
      border-top: 5px solid #a5a5a5;
      margin-top: 0.65rem;
    }

    .bag-right{
      margin-top: 0.3rem;
    }

  }

}

.nav-bar{
  padding: 1rem 2rem;
  color: #8c2830;
  font-size: 1.4rem;
  background: linear-gradient(to bottom,#eee 0,#dbdbdb 100%);
  text-align: left;
  display: none;
  margin-bottom: 0.5rem;

  @media (max-width: 768px){
    display: block;
  }

  span{

    float: left;
    line-height: 40px;
  }

  .nav-icon-button{
    float: right;
    cursor: pointer;
    img{
      vertical-align: middle;
    }
  }
}

.nav-main{
  display: block;
  text-align: center;
  padding-bottom: 2rem;

  @media (max-width: 768px){
    display: none;
    padding: 2.2rem;
  }

  ul{
    padding: 0;
  }

  li{
    display: inline-block;
    @media (max-width: 768px){
      display: block;
      float: none;

      + li{
        margin-top: 2.2rem;
        margin-left: 0;
      }
    }

    a{
      display: inline-block;
      line-height: 1.2rem;
      color: #8c2830;
      font:{
        size: 1.2rem;
        weight: bold;
      }
      &:hover{
        color: #222222;
      }
    }

    @media (min-width: 769px) {
      + li {
        margin-left: 3.6rem;
      }
    }
  }
}

.introduce{

  figure {
    margin: 0;
    margin-top: 4rem;
    text-align: center;
    border: 1px solid #dddddd;

    figcaption{
      padding: 0 1rem;

      @media (min-width: 768px) and (max-width: 992px) {
        h2{
          font-size: 1.2rem;
        }
      }

      p {
        font-size: 1.2rem;
        @media (min-width: 768px) and (max-width: 992px) {
          font-size: 1rem;
        }
        line-height: 1.6rem;
        color: #555555;
      }
    }
  }

  img{
    width: 100%;
  }
}

%title{
  text-align: center;
  position: relative;

  &:before,&:after{
    content: '';
    width: 33%;
    @media (max-width: 768px) {
      width: 20%;
    }
    height: 1px;
    position: absolute;
    background: #cccccc;
    @include stretch(50%,auto,auto,0);
  }

  &:after{
    @include stretch(50%,0,auto,auto);
  }
}

.arrivals{
  margin-top: 4rem;

  h1{
    @extend %title;
  }

  @at-root {
    .page-button{
      float: right;
      font-size: 1.4rem;
    }

    .page-num,.page-arrow{
      float: left;
    }

    .page-num{
      margin-right: 2rem;
    }

    .prev-page{
      display: inline-block;
      width: 25px;
      height: 25px;
      cursor: pointer;
      background: url(../images/icons/arrow.png) left no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }

    .next-page{
      @extend .prev-page;
      background: url(../images/icons/arrow.png) right no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }

    .arrival-items{

      li{
        position: relative;
        text-align: center;
        margin-top: 2rem;

        .item{
          padding: 1.8rem;
          border: 1px solid #dddddd;
          @include transition(border,.5s);
        }

        &:hover{

          a.item_add{
            span{
              color: #8c2830;
            }

            i{
              background: url(../images/icons/cart-2.png) center no-repeat;
            }
          }

          img{
            @include scale(.9);
          }

          .item{
            border: 1px solid #8c2830;
          }

          .mask{
            visibility: visible;
            opacity: 1;
          }
        }

        a{
          img{
            @include transition(transform,.5s);
          }

          .mask{
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            @include translate3d(-50%,-50%,0);
            @include transition(all,.5s);

            span{
              background: #8c2830;
              color: #fff;
              font: {
                size: 1rem;
                weight: 400;
              };
              padding: 1rem;
              @include transition(background,.5s);
            }

            &:hover{
              span{
                background: #222222;
              }
            }
          }
        }

        p{
          font:{
            size: 2rem;
            family: 'Lato', sans-serif;
          };
          margin: 5px 0 0 0;
          font-weight: 700;

          a{
            color: #999;

            i{
              width: 25px;
              height: 18px;
              display: inline-block;
              margin-right: 4px;
              background: url(../images/icons/cart.png) center no-repeat;
            }

          }
        }
      }

      img{
        width: 100%;
      }
    }
  }
}

.best-sales{
  margin-top: 4rem;
  padding: 2rem 0;
  background: #ececec;

  h1{
    @extend %title;
  }

  .best-sales-carousel{
    .item{
      padding: 1rem;
      @media(max-width: 330px){
        padding: 0.2rem;
      }
    }

    @at-root {

      .best-sales-item {
        background: #ffffff;
        padding: 0.75rem;

        @media(max-width: 330px){
          padding: 0.6rem;
        }

        .img-left,.caption-right{
          float: left;
        }

        .img-left{
          width: 50%;
          padding: 0.5rem;

          img{
            width: 100%;
          }
        }

        .star{
          display: block;
          float: left;

          li{
            display: inline-block;
          }
          i{
            background: url(../images/img-sprite.png)no-repeat -234px -14px;
            width: 16px;
            height: 16px;
            display: inline-block;
            vertical-align: middle;
          }
        }

        .price{
          float: left;
          font-size: 1.6rem;
          color: #8c2830;
          margin: -3px 0 0 5px;
        }

      }

      .item-adding {
        width: 90%;
        margin: 1.8rem auto;
        padding: 1rem 0.5rem;
        text-align: center;
        color: #ffffff;
        background: #8c2830;
        @include transition(background,0.5s);

        &:hover{
          background: #222222;
        }
      }

    }

  }
}

.we-accept{
  background: #f6f6f6;
  text-align: center;
  padding: 1.2rem 0;
  margin-top: 4rem;

  .paypal{
    img{
      max-width: 100%;
      vertical-align: middle;
    }
  }

  span{
    vertical-align: middle;
    display: inline-block;
    @media(max-width: 768px){
      display: block;
    }
    font-size: 1.2rem;
    color: #777777;

    + span {
      margin-left: 1rem;
      @media(max-width: 768px) {
        margin-left: 0;
        margin-top: 1rem;
      }
    }
  }
}

footer{
  background: #ececec;
  padding: 2rem 0;

  a{
    display: inline-block;
    line-height: 2rem;
    color: #777777;
    &:hover{
      color: #8c2830;
    }
    font-size: 1.1rem;
  }

  h3{
    font-size: 1.3rem;
    color: #444444;
  }

  .social{
    li{
      float: left;
      margin: 0 0.5rem 0.5rem 0;
      @media (max-width: 768px){
        float: none;
        display: inline-block;
      }

      a{
        &:hover{
          i{
            opacity: 0.8;
          }
        }
      }
    }

    i {
      width: 40px;
      height: 40px;
      display: block;
      background: url(../images/img-sprite2.png) no-repeat;
    }

    .tw1{
      background-position: -3px -39px;
    }

    .db1{
      background-position: -45px -39px;
    }

    .fb1{
      background-position: -88px -39px;
    }

    .g1{
      background-position: -3px -86px;
    }

    .thumb{
      background-position: -47px -86px;
    }

    .vimeo{
      background-position: -95px -86px;
    }
  }

  .secure{
    padding-top: 1.5rem;
  }

  .copy-rights {
    padding: 3rem 1rem 0rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    color: #777777;
  }

  .footer_list{
    @media (max-width: 768px){
      text-align: center;
    }
  }

}




